* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #F9F9F9;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #008CBA;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #006D9C;
  }
  
  #cancel-btn {
    background-color: #CCCCCC;
    color: #444444;
    margin-left: 10px;
  }
  
